/* styles/globals.css */
:root {
    --bg_color: white; /* Default values */
    --text_color: black;       /* Default values */
  }
  
  /* Add more global styles if needed */
html, body {
  height: 100%;
}
  
