/* page.module.css */

.container {
  background-color: var(--bg_color);
  color: var(--text_color);
}

.container h1 p {
  background-color: black;
  color: var(--text_color);
  
}

/* Add more styles using the variables as needed */
