/* page.module.css */

.container {
  background-color: var(--background-color);
  color: var(--text-color);
}

.container h1 {
  color: var(--text-color);
  
}

/* Add more styles using the variables as needed */
