:root {
  --accent-text-color: #6ab2f2;
  --bg-color: #17212b;
  --button-color: #5288c1;
  --button-text-color: #ffffff;
  --destructive-text-color: #ec3942;
  --header-bg-color: #17212b;
  --hint-color: #708499;
  --link-color: #6ab3f3;
  --secondary-bg-color: #232e3c;
  --section-bg-color: #17212b;
  --section-header-text-color: #6ab3f3;
  --subtitle-text-color: #708499;
  --text-color: #f5f5f5;
}


html,
body,
#root {
  background-color: var(--bg-color);
}

.my-link {
  text-decoration: none;
  color: inherit;
}

.App {
  text-align: center;
  color: var(--text-color);
}

::placeholder {
  color: #b3c1d2;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: #b3c1d2;
}

.lexend-header {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: xx-large;
  /* color:red; */
}

.lexend-mini {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
  /* color:red; */
}

.my-landing {
  background-color: var(--secondary-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.my-search {
  width: 100%;
  color: red;
  height: 50px;
  background-color: #121820;
  color: #b3c1d2;
}

.search-suggestion {
  background-color: #b6eada;
  opacity: 0.6;
  width: 100%;
}

.search-suggestion p {
  opacity: 0.9;
  color: #191929;
  font-size: large;
}

.some-profs {
  color: #0b2447;
  display: flex;
  flex-direction: row;
}

.prof-img {
  width: 160px;
  height: 160px;
}
.custom-border {
  border-left: 5px solid #007bff; /* Bootstrap's primary color */
  background-color: var(--secondary-bg-color);
  color: var(--button-text-color);
}

.my-button {
  background-color: var(--button-color);
  color: var(--button-text-color);
}

.hint {
  color: var(--subtitle-text-color);
}

.like-dislike {
  height: 30px;
  width: 30px;
}