/* 

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* 
.lexend-<uniquifier> {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

html, body, #root {
  background-color: #17212b;
}

.App {
  text-align: center;
    color: #b8dbe7;

}

::placeholder {
  color: #b3c1d2;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: #b3c1d2;
}

.lexend-header {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: xx-large;
  /* color:red; */
}

.lexend-mini {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
  /* color:red; */
}

.my-landing {
   background-color: #232e3c; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.my-search {
  width: 75%;
/*  color:red;*/
  height: 50px;
  background-color: #121820;
  color: #b3c1d2;
}

.search-suggestion {
  background-color: #B6EADA;
  opacity: 0.6;
  width: 100%;

}

.search-suggestion p{
  
  opacity: 0.9;
  color: #191929;
  font-size:large;
}

.some-profs {
  color: #0B2447;
  display: flex;
  flex-direction: row;
}

.search-img {
  width: 30px;
  height: 30px;
}

.add-prof {

}

.bordered-div {
  border: 2px solid red;
  background-color: #5288c1;
  color: #ffffff;
}

.my-button {
  background-color: #5288c1;
  color: #ffffff;
}

.hint {
  color: #708499;
}